*{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body{
  font-size: 32px;
}

.mb-20{
  margin-bottom: 20px;
}

.container{
 
  margin: 0 auto;
  text-align: center;

}

.title{
  position: relative;
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.marker{
  width: 100%;
  height: 35%;
  background-color: #a2a2a270;
  position: absolute;
  bottom: 5%;
  z-index: -1;
}

.startButton{
    background-color: darkgray;
    color: antiquewhite;
    width: 200px;
    padding: 4px 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
}

.startButton:hover{
    opacity: 0.7;
}

.question{
    color: black;
    
}

.clear{
    color: blue;
}

.typeForm{
    text-align: center;
    outline: none; 
    border: none;
}

.typeFormWrapper{
    border-bottom: 1px solid gray;
    width: 300px;
    margin: auto;
}

.gauge{
    height: 12px;
    
}

.gaugeWrapper{
  border: 1px solid;
  height: 12px;
  width: 300px;
  margin: auto;
}

